body, section, main, div, a, img,h1 {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}
body {
  background: #111111;
  color: #dbdbdb;
}

main {
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
  line-height: 2.5rem;
  height: 80px;
  max-width: 700px;
  margin: 60px auto;
  text-align: center;
}

h1::after {
  content: '|';
  display:inline-flex;
  background: #dbdbdb;
  width: 5px;

  animation:  h1 .5s infinite;
}

@keyframes h1 {
  0%{
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (max-width: 650px) {
  h1 {
    font-size: 1.1em;
    
  }
}
.img-container{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  animation: move 3s forwards;
 
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateX(-600px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }

}

img {
  
  width: 300px;
  height: 400px;
}
.div-img {
  margin: 0 10px;
  margin-bottom: 50px;
  width: 300px;
  height: 650px;
}

@media (max-width: 650px) {
  .div-img {
    margin-bottom: 20px;
  
  }
}

h2 {
  font-size: 1em;
  height: 50px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
     
  
}

.sinopse {
  font-size: .775em;
  line-height: 1.3em;
  letter-spacing: .1em;
  height: 80px;
  text-align: left;
  font-family:  Georgia, 'Times New Roman', Times, serif;
  width: 300px;
  color: #828282

}
.menos-margem {
 position: relative;
 top: -30px;
}

.watch {
     color: #dbdbdb;
     font-size: 1.1em;
     margin-bottom: 40px;
     padding: 10px;
}

.watch:hover {
  background: #444;
}